@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow-x: hidden; /* Prevent horizontal scroll */
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

/* Additional styling adjustments */
.application-card {
  margin: 20px auto; /* Center the cards */
  max-width: 80%; /* Ensure the card does not exceed the container's width */
}

.projects-container {
  max-width: 100%; /* Ensure the container does not exceed the main container's width */
  padding: 20px;
}
